* {
    margin: 0;
    padding: 0;
}
/*
justify-content: center;
justify-items: center;
align-items: center;
*/
body {
    padding: 2%;
}
.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 100px 100px;
    column-gap: 15px;
    row-gap: 25px;
}

.utama {
    background-color: red;
    grid-column: span 3;
    height: 250px;
    border-radius: 15px;
}
.news1, .news2, .news3, .news4, .news5, .news6 {
    background-color: rgb(0, 76, 255);
    grid-column: span 1;
    border-radius: 15px;
}