* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.container {

    display: grid;
    grid-template-columns: 341.33px 341.33px 341.33px;
     overflow: hidden;
     gap: 20px;
}

.featured {
    grid-column: span 3;
    grid-row: span 2;
    align-items: center;
}

.featured img {
    width: 1064px;
    object-fit: cover;
    align-items: center;
}

.news-card {
    grid-column: span 1;
    grid-row: span 1;
     overflow: hidden;

}

.thumb {
    width: 1024px;
    height: 300px;
    object-fit: cover;
    object-position: -175px 20px;
}

.category, .news-card h3 {
    margin-bottom: 10%;
}