* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 150px 500px 500px;
    column-gap: 10px;
    padding: 10px 10px 0px;
}

.featured {
    grid-column: span 3;
    grid-row: span 2;
    align-items: center;
}

.featured img {
    width: 1250px;
    height: 600px;
    object-fit: cover;
    align-items: center;
}

.news-card {
    grid-column: span 1;
    grid-row: span 1;
    width: 250px;
    flex-direction: column;
}

.thumb {
    width: 450px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1%;
}

.category, .news-card h3 {
    margin-bottom: 10%;
}